@font-face {
  font-family: 'Code-Bold';
    src:  url('fonts/Code-Bold.ttf.woff') format('woff'),
    url('fonts/Code-Bold.ttf.svg#Code-Bold') format('svg'),
    url('fonts/Code-Bold.ttf.eot'),
    url('fonts/Code-Bold.eot?#iefix') format('embedded-opentype'); 
    font-weight: bold;
    font-style: normal;
}

html,body {
  font-family: 'Code-Bold', sans-serif;
  padding: 1em 2em;
  font-size: 10px;
  font-weight: bold;
  background: #222;
  color: #1d4b9b
}

h1,h2 {
  font-weight: 250;
  margin: 0.1em 0;
}
h1 { font-size: 4.5em;
     font-family: 'Code-Bold';
     width: 50%;
     float: left; }
h2 {
  color: #888;
  font-size: 2em;
  width: 50%;
}

h3 {
  font-size: 20px;

}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    

}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
/*.topnav a.active {
  background-color: ##1d4b9b;
  color: white;
}*/


#header {
    max-width: 100rem;/*changed width of header to full page*/
    margin: 0 auto;
    height: 75px; /*changed height of header for a better look*/
    font-size: 45px; /*changed header font-size for consistency*/
    background-color: #002158; /*added background color #002158*/
    color: #ffffff /*changed text color to #ffffff*/
}

#featuretext {
  font-family: "Lucida Console", "Arial", sans-serif;
  font-size: 16px;
  color: #888888;
}

#dreamtext {
  font-family: "Lucida Console", "Arial", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #888888;
}

#featuretext1 {
  font-family: "Lucida Console", "Arial", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #888888;
}

#temp_text {
  font-family: "Lucida Console", "Arial", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #888888;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


figcaption {
  font-size: 10px;
}

.three-cogs.fa-3x{
  text-align: center;
  color: #1d4b9b

} 

.contact {
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #888888;
  padding-top: 20px;
}

#myCanvas {   
background: #e0e0eb; 
display: block;
margin-top: 20px; 
margin-left: auto;
margin-right: auto;
}

#gametext {
  margin-top: 20px;
  text-align: center;
  font-family: "Lucida Console", "Arial", sans-serif;
  font-size: 16px;
  color: #888888;
}
